<h1 class="text-2xl font-bold mb-4">Trang chính</h1>
<p class="mb-4">Chào mừng đến với hệ thống tra cứu điểm thi THPT 2024.</p>
<ul class="list-disc pl-5 space-y-1">
  <li><%= link_to "Tra cứu điểm theo SBD", search_path, class: "text-blue-600 underline" %></li>
  <li><%= link_to "Thống kê theo môn", reports_path, class: "text-blue-600 underline" %></li>
  <li><%= link_to "Top 10 học sinh khối A", top10_path, class: "text-blue-600 underline" %></li>
</ul>